body {
  /* Mengubah font menjadi Inconsolata */
  font-family: 'Inconsolata', monospace;
  
  /* Membuat tata letak ke tengah */
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.kotak-input {
  display: block;
  resize: none;
  font-family: 'Inconsolata', monospace;
  margin-top: 10px;
}

p > span {
  color: coral;
  font-weight: bold;
}