body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px;
    font-family: Arial, sans-serif; 
}

.kotak-input {
    display: block;
    resize: none;
    margin-bottom: 10px;   
}

p > span {
    color: coral; 
    font-weight: bold;
}

div {
    display: flex;
    gap: 10px;
    justify-content: center;
}